# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# wdio-obsidian-service downloads Obsidian versions here
.obsidian-cache

# Obsidian Insiders credentials for beta downloads (see wdio.conf.mts)
.env

# Exclude macOS Finder (System Explorer) View States
.DS_Store
